
main {
    display: flex;
    justify-content:space-around;
    max-width: 1100px;  
    
}
.game-block {
    width: 900px;
    height: 1500px;
    background-color: lightgray;
    border:  1px solid darkgray; 
    text-align: center;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
.block {
    width: 270px;
    height: 270px;
    background-color: cornflowerblue;
    position: relative;
    cursor: pointer;
}
span {
    display: inline-block;
    width: 100%;
}
.title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
}
.bl-1, .bl-4, .bl-7, .bl-2, .bl-8, .bl-5 {
    border-right: 2px solid darkblue;
}
.bl-3, .bl-6, .bl-9,.bl-2, .bl-8, .bl-5{
    border-left: 2px solid darkblue;
}
.bl-1, .bl-2, .bl-3, .bl-4, .bl-5, .bl-6, .bl-5 {
    border-bottom: 2px solid darkblue;
}
.bl-4, .bl-5, .bl-6, .bl-7, .bl-8, .bl-9, .bl-5 {
    border-top: 2px solid darkblue;
}

.reset {
    margin-bottom: 30px;
    width: 250px;
    height: 70px;
    font-size: 35px;
    border-radius: 10px;
}
.zero::after {
    display: block;
    content: "";
    position: absolute;
    top:60px;
    left: 60px;
    width: 100px;
    height: 100px;
    border: 20px solid gold;
    border-radius: 50%;
}
.cross::before, .cross::after {
    display: block;
    content: "";
    position: absolute;
    width: 0px;
    height: 150px;
    border: 10px solid red;
}
.cross::after {
    top: 50px;
    right: 125px;
    transform: rotate(-45deg);
}
.cross::before {
    top: 50px;
    left: 120px;
    transform: rotate(45deg);
}
.player-move, .message{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.red {
    background-color: hotpink;
}
.dev {
    text-align: right;
    font-size: 15px;
    margin-right: 20px;
}
