
main {
    display: flex;
    justify-content: center;
    max-width: 520px;
    min-width: 301px;
    flex-wrap: wrap;
}
.game-block {
    width: 300px;
    height: 400px;
    background-color: lightgray;
    border:  1px solid darkgray; 
    text-align: center;   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}
.block {
    width: 80px;
    height: 80px;
    background-color: cornflowerblue;
    position: relative;
    cursor: pointer;
}
span {
    display: inline-block;
    width: 100%;
}
.title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.bl-1, .bl-4, .bl-7, .bl-2, .bl-8, .bl-5 {
    border-right: 2px solid darkblue;
}
.bl-3, .bl-6, .bl-9,.bl-2, .bl-8, .bl-5{
    border-left: 2px solid darkblue;
}
.bl-1, .bl-2, .bl-3, .bl-4, .bl-5, .bl-6, .bl-5 {
    border-bottom: 2px solid darkblue;
}
.bl-4, .bl-5, .bl-6, .bl-7, .bl-8, .bl-9, .bl-5 {
    border-top: 2px solid darkblue;
}

.reset {
    margin-bottom: 10px;
}
.zero::after {
    display: block;
    content: "";
    position: absolute;
    top:10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border: 10px solid gold;
    border-radius: 50%;
}
.cross::before, .cross::after {
    display: block;
    content: "";
    position: absolute;
    width: 0px;
    height: 40px;
    border: 5px solid red;
}
.cross::after {
    top: 10px;
    left: 35px;
    transform: rotate(-45deg);
}
.cross::before {
    top: 10px;
    left: 35px;
    transform: rotate(45deg);
}
.red {
    background-color: hotpink;
}
.dev {
    text-align: right;
    font-size: 10px;
    margin-right: 5px;
}
@media screen and (max-width: 520px) {
  main{
    max-width: 520px;
    min-width: 301px;
  }
}